<div class="container mt-3" >
  
    <h1><strong><em>NEWS TODAY</em></strong></h1>
    <div class="mt-4 p-5 bg-primary text-white rounded"
    style="background-image: url('assets/background-img.jpg');
    height: 400px;height:200px;
    ">
     <h1><strong><em>PARTHIBAN S</em></strong></h1> 
      <p style="color:rgb(255, 255, 255);background-color:rgba(10, 10, 10, 0.462);"><strong><em><h5>ENROLLMENT NUMBER = EONFWL631699 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSTITUTION = Edu-Bridge Learning Pvt.ltd.<br><br>
        BATCH:2022-7905&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COURSES = Java Full Stack 
      </h5></em></strong></p> 
    </div>
  </div>
<br/>

<div class="container">
    
<div class="row">    
  

  <div class="card" style="width: 15rem;" *ngFor="let post of posts">
    <img class="card-img-top" src="data:image/png;base64,{{post.postImage}}" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title"><strong>{{post.postTitle}}</strong></h6>
     <p>{{post.postContent | slice : 0 :50 }}...</p>
      <a href="/post/{{post.postId}}" class="btn btn-primary">Read More</a>
    </div>
    
  </div>

</div>
</div>
<br/>