
 <br/><br><br/><br>
<div class="container">
  
  <h2><strong><em>USER SIGNIN</em></strong></h2>
  <br>
      <fieldset>
        <div id="legend">
          <legend class=""><strong><em>Please signin to continue!!</em></strong></legend>
        </div>
        <br>
  
        <div class="control-group">
          <!-- E-mail -->
          <label class="control-label" for="email"><strong>E-mail</strong></label>
          <div class="controls">
            <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
            
          </div>
        </div>
     
        <div class="control-group">
          <!-- Password-->
          <label class="control-label" for="password"><strong>Password</strong></label>
          <div class="controls">
            <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
           
          </div>
        </div>
     
      <br>
     
        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button type="submit" class="btn btn-primary" (click)="signin(email.value, password.value)">Signin</button>
          </div>
        </div>
      </fieldset>
      <br>
  </div>
  <br><br><br><br><br><br>