<div class="container">
<br/>
<h2><strong><em>USER SIGNUP</em></strong></h2>

    <fieldset>
      <div id="legend">
        <legend class=""><strong><em>Please fill out the form to get registered!!</em></strong></legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username"><strong>User Id</strong></label>
        <div class="controls">
          <input type="number" id="userid" name="userid" placeholder="Enter your user id" class="input-xlargez" #userId>
          
        </div>
      </div>


      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username"><strong>Username</strong></label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="Enter your username" class="input-xlarge" #userName>
         
        </div>
      </div>
   
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username"><strong>Date of Birth</strong></label>
        <div class="controls">
          <input type="date" id="dob" name="dob" placeholder="" class="input-xlarge" #dob>
         
        </div>
      </div>


      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email"><strong>E-mail</strong></label>
        <div class="controls">
          <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
          
        </div>
      </div>
   
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password"><strong>Password</strong></label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
         
        </div>
      </div>
   
      <div class="control-group">
        <!-- Password -->
        <label class="control-label"  for="password_confirm"><strong>Password (Confirm)</strong></label>
        <div class="controls">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="Retype Password" class="input-xlarge" #repassword>
          
        </div>
      </div>

      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username"><strong>Bio</strong></label>
        <div class="controls">
          <textarea rows="6" cols="40" type="text" id="about" name="about" placeholder="Enter your bio" class="input-xlarge" #about></textarea>
          
        </div>
      </div>
   
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-primary" type="submit" (click)="saveUser(userId.value, userName.value, dob.value, email.value, password.value, repassword.value, about.value)">Sign up</button>
        </div>
      </div>
    </fieldset>
 
</div>
<br>