/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgb(255, 255, 255);
    font-family:times new roman;
}
body
{
  background-image:url('C:\Users\REVATHY\Downloads\blog-frontend-main\blog-frontend-main\src\assets\01.jpg');
}
.card {
    
  padding-top: 15px;
  padding-right: 10px;
}